body{
    background: #fff;
    margin:8px auto;
    text-align: center;
}

nav{
    width: 90%;
    height:2.7em;
    margin:0 auto;

    display:block;
    border-bottom: solid 1px;
    clear:both;
}

ul{
    list-style-type: none;

    float:left;
    padding:0;
}

li{
    margin: 0 20px 0 10px;
    float:left;
}

nav a
{
    text-decoration:none;
    border:solid 1px;
    padding: 0.4em 0.8em;
    color:#fff;
    background:#000;
    border-color:#fff#aaab9c#aaab9c#fff;
    zoom:1;
}

a:hover{
    background: gray;
}



.box{
    width: 100%;
    height:100%;
    float:left;
}

.lebenslauf
{
    width: 90%;
    height:100%;
    display:none;
    margin: 0 auto;
    clear:both;
}


.person-info{
    width: 100%;
    height:100%;
    float:left;
}

.person-info img{
    width: 200px;
    height:300px;
    float:left;
    margin:5px 0 0 40px;
}

.person-data
{
    width: auto;
    height:100%;
    float:right;
    text-align:right;
}

.person-data img
{
    width: 1em;
    height:1em;
    float: left;
    margin:5px 20px 0 0;
}

.person-data p{
    border-bottom:dashed;
    line-height:1.5em;
}

h2{
    background: #000;
    color:#fff;
    padding:0.4em 0.4em;
}

.studium,.beruf,.praktikum,.sprach,.EDV,.gehalt{
    width: 100%;
    height:100%;
    float:left;
}

.studium h2,.beruf h2,.praktikum h2,.sprach h2,.EDV h2,.gehalt h2{
    width: 30%;
    height:100%;
    text-align:center;
    margin-bottom:0;
    padding:0.4em;
}

.studium img,.beruf img,.praktikum img,.sprach img,.EDV img,.gehalt img
{
    width: 1em;
    height:1em;
    float: left;
    margin:5px 20px 0 0;
}
section{
    width: 100%;
    height:100%;
    float:left;
    display:block;
}

.first{
    border-top: solid 1px;
}

aside{
    float: left;
    text-align:left;
    width:38.2%;
    height:100%;
}

aside p{
    margin-left: 40px;
    margin-top:16px;
    font-size:28px;
}

article{
    float: right;
    text-align:left;
    width:61.8%;
    height:100%;
}

.urkunde,.SAP{
    display: none;
}

.urkunde img,.SAP img{
    width:90%;
    height:100%;
    margin:0 auto;
}

.active{
    display: block;
}

.current
{
    background: #aaa;
}

footer{
    width:100%;
    height:1em;
    float:left;
    text-align: left;
    color: #eee;
}
